<!-- <nav class="navbar navbar-fixed-top navbar-inverse"> -->
<!--     <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="images/AngularJS-small.png" />
                    </a>
                </li>
                <li>
                    <a href="http://www.gulpjs.com/" target="_blank">
                        <img src="images/gulp-tiny.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div> -->



  <div layout="column" tabIndex="-1" role="main" flex>
    <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">

      <div class="md-toolbar-tools docs-toolbar-tools" tabIndex="-1">
        
            
            <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
                <md-icon md-svg-icon="menu" ></md-icon>
            </md-button>
            <h1>Angular Material - Starter App</h1>
          <span flex></span> <!-- use up the empty space -->
       
          </div>
        </div>
      </div>

    </md-toolbar>

    <md-content ng-view md-scroll-y flex layout-padding></md-content>

  </div>


   
   <!-- </nav!-->